@tailwind utilities;
@import "tailwindcss";
@import "tw-animate-css";


html, body {
    max-width: 100vw;
}

.container {
    max-width: 100%;
}

:root {
    --backgrond: #111010;
    overflow-x: hidden;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    :root {
        --scale: 1;
    }
}