@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html, body {
    max-width: 100vw;
}

.container {
    max-width: 100%;
}

:root {
    --backgrond: #111010;
    overflow-x: hidden;
    width: 100%;
}
